body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;

}

.container-home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: #0F0F11;	
    /*color: rebeccapurple;*/
    color: rgba(255, 255, 255, 0.74);
    /*color: red;*/
}

.navigation-container {
	width: 20%;
    max-width: 100px;
    min-width: 70px;
    border-right: 1px solid #1C1C1C
}

.navigation {
	margin: 13px;
	margin-top: 30px;
    position: fixed;
}

.logo {
	font-size: 73px;
    color: white;
    line-height: 84px;
}

.home-link {
    font-size: 26px;
    line-height: 30px;
    color: #00ADFF;
    margin: 13px;
	border-right: 4px solid;
    width: 73px;
    height: 31px;    
}

.profile img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: white;
    margin: 10px;
    margin-top: 18px;	
}

.main {
    /*background: #0F0F11;*/
    width: 50%;
    display: flex;
    flex-direction: column;
}

.tweets-search-container {
    /*background: #0F0F11;*/
	margin: 20px;
	margin-top: 30px;
    margin-bottom: 0px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #979797;
}

#user-search-input {
	flex: 1;
	background-color: transparent;
	border: none;
	font-size: 30px;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}

.tweets-search-container input:focus {
	outline: none;
}

#search-tweet {
	color: white;
	font-size: 30px;
}

.tweets-list {
    margin: 20px;
}

#change-display-page-white {
    position: relative;
    top: 10px;
    content: "\f042";
    margin-left: 13px;
    font-size: 30px;
}

#change-display-page-dark {
    position: relative;
    top: 20px;
    content: "\f042";
    margin-left: 13px;
    font-size: 30px;
}

.tweets-welcome-message  {
    text-align: center;
}

.tweets-welcome-message h5 {
    font-size: 2.25rem;
}